APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

# Pick which SMS service to use by the app from this list ( FAKE, TWILIO ).
# Fake service is used for testing and it will consider all requests as valid by default.
SMS_SERVICE=FAKE

# Your SMS service secure credentials ( Twilio )
SMS_SERVICE_KEY=
SMS_SERVICE_SECRET=

# Phone number used to send Programmable SMS
SMS_PHONE_NUMBER=

# You need to create a verification service within your Twilio console (Code length is 6 digits)
# => https://www.twilio.com/docs/verify/api/service#create-a-verification-service
TWILIO_VERIFICATION_SERVICE_ID=

# Your Authy application API key
# => https://www.twilio.com/console/authy/applications
TWILIO_AUTHY_API_KEY=

# This email will be used for all users as we only have the user's phone number and we won't use the Authy app only SMS channel.
TWILIO_AUTHY_EMAIL=authy@received.app

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
